
@import url(font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto Slab:100,100italic,300,300italic,400,400italic);
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em
{
  margin         : 0px 0px 0px 0px;
  padding        : 0px 0px 0px 0px;
  border         : none 0px none;
  font-size      : 100%;
  font           : inherit  ;
  vertical-align : middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
  display : block;
}

ol,
ul
{
  list-style : none none none;
}

blockquote,
q
{
  quotes : none;
}

blockquote::before,
blockquote::after,
q::before,
q::after
{
  content : "";
  content : none;
}

table
{
  border-collapse : collapse;
  border-spacing  : 0;
}

html
{
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  font-family        : "Roboto", serif;
}

body
{
  width          : 90vw;
  max-width      : 90vw;
  margin         : auto auto auto auto;
  display        : flex;
  flex-direction : column;
}

body > main
{
  display         : flex;
  justify-content : center;
}

body > main > main
{
  display : none;
}



header > nav
{
  display         : flex;
  justify-content : center;
}

header > nav > ul
{
  display         : flex;
  flex-wrap       : wrap;
  justify-content : center;
}

header > nav > ul li
{
  padding : 1rem 2rem 1rem 2rem;
}

header > nav > ul li a
{
  font-weight : bold;
}


nav a
{
  text-decoration : none;
  color           : #000000;
}

main > nav.parts-links
{
  padding : 1em 1em 1em 1em;
}


main > nav.parts-links > ul > li
{
  padding-top : 1em;
  line-height : 1.5em;
}

main > nav.parts-links > ul > li > p
{
  color               : #0000ff;
  font-weight         : bold;
  border-bottom-color : #0000ff;
  border-bottom-style : solid;
  border-bottom-width : 1px;
}

#nav-left
{
  text-align : right;
}


#nav-left > ul li
{
  align-items : flex-end;
}

@media all and (min-width: 1200px)
{

html
{
  font-size : 17px;
}

}
@media all and (min-width: 992px) and (max-width: 1199px)
{

html
{
  font-size : 15px;
}

}
@media all and (min-width: 768px) and (max-width: 991px)
{

html
{
  font-size : 15px;
}

body
{
  width     : 100vw;
  max-width : 100vw;
}

header > nav > ul > li
{
  padding : 1rem 1rem 1rem 1rem;
}

}
@media all and (min-width: 481px) and (max-width: 767px)
{

html
{
  font-size : 12px;
}

body
{
  width     : 100vw;
  max-width : 100vw;
}

header > nav > ul > li
{
  padding : 1rem 1rem 1rem 1rem;
}

}
@media all and (max-width: 480px)
{

html
{
  font-size : 12px;
}

body
{
  width     : 100vw;
  max-width : 100vw;
}

header > nav > ul > li
{
  padding : 1rem 1rem 1rem 1rem;
}

}

/* Generated with Clay, http://fvisser.nl/clay */